@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: hsl(234, 29%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.container {
  display: flex;
  max-width: 80rem;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
}
.container .content {
  flex: 50%;
  padding: 10rem 4rem 0rem 5rem;
}
.container .content .title {
  font-size: 5rem;
  color: hsl(234, 29%, 20%);
}
.container .content .desc {
  font-size: 1.6rem;
  line-height: 1.5;
  color: hsl(235, 18%, 26%);
  margin: 2rem 0;
}
.container .content .list-container {
  margin-bottom: 3rem;
}
.container .content .list-container .list-items {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: hsl(235, 18%, 26%);
  gap: 1rem;
  margin-bottom: 1rem;
}
.container .content label,
.container .content input {
  display: block;
}
.container .content label {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  position: relative;
}
.container .content label .error-message {
  position: absolute;
  right: 0;
}
.container .content #email {
  padding: 1.5rem 2rem;
  margin-top: 0.5rem;
  border: 1px solid hsl(231, 7%, 60%);
  outline: none;
  color: hsl(234, 29%, 20%);
  border-radius: 5px;
  width: 100%;
  font-size: 1.6rem;
}
.container .content #email:active {
  cursor: pointer;
}
.container .main-img {
  flex: 50%;
}
.container .main-img img {
  width: 100%;
  padding: 2rem;
  height: 100%;
  object-fit: cover;
}
.container .btn-primary {
  margin-top: 2rem;
}
.container .btn-primary .btn {
  cursor: pointer;
  width: 100%;
  padding: 1.5rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
}
.container .btn-primary .btn:active {
  background: linear-gradient(240deg, hsl(4, 100%, 67%), hsl(346, 100%, 66%));
}

.active {
  display: none;
}

.success {
  max-width: 40rem;
  background-color: hsl(0, 0%, 100%);
  padding: 3rem 5rem;
  border-radius: 30px;
}
.success .check-icon img {
  width: 4rem;
  margin-bottom: 2rem;
}
.success h1 {
  color: hsl(234, 29%, 20%);
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.success p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: hsl(234, 29%, 20%);
  margin-bottom: 3rem;
}
.success p span {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
}
.success .btn-2 {
  width: 100%;
  padding: 1.3rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(234, 29%, 20%);
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}
.success .btn-2:active {
  background: linear-gradient(90deg, hsl(346, 100%, 66%), hsl(4, 100%, 67%));
}

@media only screen and (max-width: 450px) {
  .container {
    width: 95%;
    flex-direction: column-reverse;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .container .content {
    padding: 5rem 3rem 5rem 4rem;
  }
  .container .main-img img {
    padding: 0;
    content: url(../assets/images/illustration-sign-up-mobile.svg);
  }
}