@import "configs";

.container {
  display: flex;
  max-width: 80rem;
  width: 100%;
  background-color: $white;
  border-radius: $bRadiusmedium;

  .content {
    flex: 50%;
    padding: 10rem 4rem 0rem 5rem;
    .title {
      font-size: 5rem;
      color: $darkSlateGrey;
    }

    .desc {
      font-size: 1.6rem;
      line-height: 1.5;
      color: $charcoalGrey;
      margin: 2rem 0;
    }

    .list-container {
      margin-bottom: 3rem;
      .list-items {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: $charcoalGrey;
        gap: 1rem;
        margin-bottom: 1rem;
      }
    }

    label,
    input {
      display: block;
    }

    label {
      color: $darkSlateGrey;
      font-weight: 700;
      position: relative;
      .error-message {
        position: absolute;
        right: 0;
      }
    }

    #email {
      padding: 1.5rem 2rem;
      margin-top: 0.5rem;
      border: 1px solid $grey;
      outline: none;
      color: $darkSlateGrey;
      border-radius: 5px;
      width: 100%;
      font-size: 1.6rem;
      &:active {
        cursor: pointer;
      }
    }
  }

  .main-img {
    flex: 50%;
    img {
      width: 100%;
      padding: 2rem;
      height: 100%;
      object-fit: cover;
    }
  }

  .btn-primary {
    margin-top: 2rem;
    .btn {
      cursor: pointer;
      width: 100%;
      padding: 1.5rem;
      background-color: $darkSlateGrey;
      color: $white;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      border: none;
      outline: none;
      border-radius: 5px;
      &:active {
        background: linear-gradient(240deg, $tomato, $pink);
      }
    }
  }
}

.active {
  display: none;
}

.success {
  max-width: 40rem;
  background-color: $white;
  padding: 3rem 5rem;
  border-radius: 30px;

  .check-icon img {
    width: 4rem;
    margin-bottom: 2rem;
  }
  h1 {
    color: $darkSlateGrey;
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: $darkSlateGrey;
    margin-bottom: 3rem;

    span {
      color: $darkSlateGrey;
      font-weight: 700;
    }
  }

  .btn-2 {
    width: 100%;
    padding: 1.3rem;
    border: none;
    outline: none;
    border-radius: 5px;
    color: $white;
    background-color: $darkSlateGrey;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    &:active {
      background: linear-gradient((90deg, $pink, $tomato));
    }
  }
}

@media only screen and (max-width: 450px) {
  .container {
    width: 95%;
    flex-direction: column-reverse;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .content {
      padding: 5rem 3rem 5rem 4rem;
    }
    .main-img img {
      padding: 0;
      content: url(../assets/images/illustration-sign-up-mobile.svg);
    }
  }
}
